# تجاهل بيئة بايثون الافتراضية
venv/
ENV/
env/
.venv/

# تجاهل ملفات التخزين المؤقت
__pycache__/
*.py[cod]
*$py.class

# تجاهل ملفات النظام
.DS_Store
Thumbs.db

# تجاهل ملفات بيئة التطوير (مثل VSCode)
.vscode/
.idea/

# تجاهل ملفات سجل jupyter (لو استخدمتها)
.ipynb_checkpoints/

# تجاهل ملفات اللوجات
*.log

# ملفات قاعدة بيانات مؤقتة
*.sqlite3

# ملفات التكوين الخاصة بالمستخدم
*.env
